@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

/* #root{
    background-size: cover;
    background-repeat: no-repeat;
} */